[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 13.0
[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:vauxoo/vendor-bills.git
	branch = 13.0

[submodule "lizeth-miranda/Asistencias"]
	path = lizeth-miranda/Asistencias
	url = git@github.com:lizeth-miranda/Asistencias.git
	branch = master

[submodule "lizeth-miranda/ajuste"]
	path = lizeth-miranda/ajuste
	url = git@github.com:lizeth-miranda/ajuste.git
	branch = master

[submodule "lizeth-miranda/campo-unico"]
	path = lizeth-miranda/campo-unico
	url = git@github.com:lizeth-miranda/campo-unico.git
	branch = main

[submodule "lizeth-miranda/consumido"]
	path = lizeth-miranda/consumido
	url = git@github.com:lizeth-miranda/consumido.git
	branch = main

[submodule "lizeth-miranda/Descuento"]
	path = lizeth-miranda/Descuento
	url = git@github.com:lizeth-miranda/Descuento.git
	branch = main

[submodule "lizeth-miranda/mantenimiento"]
	path = lizeth-miranda/mantenimiento
	url = git@github.com:lizeth-miranda/mantenimiento.git
	branch = main

[submodule "lizeth-miranda/campos_extras"]
	path = lizeth-miranda/campos_extras
	url = git@github.com:lizeth-miranda/campos_extras.git
	branch = main

[submodule "lizeth-miranda/Asistencias-Demsa-16"]
	path = lizeth-miranda/Asistencias-Demsa-16
	url = git@github.com:lizeth-miranda/Asistencias-Demsa-16.git
	branch = main

[submodule "lizeth-miranda/Edicion_factura16"]
	path = lizeth-miranda/Edicion_factura16
	url = git@github.com:lizeth-miranda/Edicion_factura16.git
	branch = main

[submodule "lizeth-miranda/Campo_unicov16"]
	path = lizeth-miranda/Campo_unicov16
	url = git@github.com:lizeth-miranda/Campo_unicov16.git
	branch = main
