[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 13.0
[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:vauxoo/vendor-bills.git
	branch = 13.0

[submodule "lizeth-miranda/Asistencias"]
	path = lizeth-miranda/Asistencias
	url = git@github.com:lizeth-miranda/Asistencias.git
	branch = master

[submodule "lizeth-miranda/ajuste"]
	path = lizeth-miranda/ajuste
	url = git@github.com:lizeth-miranda/ajuste.git
	branch = master
